.home-page{
  background-color: var(--primary-color-1);
  color:var(--light-color);
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: min-content minmax(100px,max-content);
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--primary-color);
  height: min-content;


  &-button{
      font-family: inherit;
      display: flex;
      background-color: var(--primary-color);
      color:var(--light-color);
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: min-content;
      position: relative;
      cursor: pointer;
      outline: none;
      border: none;
    user-select: none;

      &:hover{
        background-color:var(--primary-color-1);
      }

      @media (max-width:600px){
        display: flex;
        flex-direction: column;
        text-align: center;
      }
  }
}



